

.hero {
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}

.hero-text {
  height: 40%;
  max-height: 40%;
  overflow-y: hidden;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure {
  height: 40%;
  max-height: 40%;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta {
    height: 20%;
    max-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cta > :first-child {
  background-color: var(--primary);
}

.cta > :last-child {
  background-color: var(--secondary);
}


/* Featured Videos */

.grid {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  padding: var(--spacing);
  flex-wrap: wrap;
}

.grid > div {
  flex-basis: 40%;
  margin: 0 auto;
}